:root {
    --normal-background: #26282d;
    --darked-background: #1e2025;
    --normal-text: rgb(240, 240, 240);
    --text-url: rgb(180, 150, 255);
    --darker-border: #rgb(18, 18, 18);
    --primary-active-color: rgb(109, 151, 115);
}

* {
    margin:0;

    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header ul {
    list-style-type: none;
}

header {
    background-color: var(--darked-background);
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    grid-column: 1 / -1;
    position: sticky;
    top: 0;
}

header h1{
    color: var(--normal-text);
    padding-left: 1rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

nav li {
    padding-right: 1rem;
    font-size: 1.5rem;
}

nav a:hover, 
nav a:active{
    border-bottom: 4px solid var(--primary-active-color);
}

nav a {
    color: white;
}

body {
    background-color: var(--normal-background);
    color: var(--normal-text);
    display: grid;
    grid-template-rows: 6rem 1fr 3rem;
    grid-template-columns: 5% 90% 5%;
}

main {
    display: block;
    position: relative;
    grid-column: 2;
}

main h3 {
    font-size: 50px;
    font-weight: lighter;
}

main h5 {
    font-size: 28px;
    font-weight: lighter;
}

main p {
    font-size: 20px;
    line-height: 31.5px;
    overflow-wrap: break-word;
    font-family: "playfair display", serif;
}

main a {
    color: var(--text-url);
}

main img {
    display: block;
    margin:0 auto;
}

figcaption {
    display: flex;
    justify-content: center;
}

.inline {
    display: inline-flex;
}

.code-img {
    display: flexbox;
    background-color: var(--darked-background);
    padding: 5px;
    max-width: 100%;
    border: 1px solid var(--normal-text);
    margin: 0 auto;
}

.fit-screen {
    display: flexbox;
    padding: 5px;
    max-width: 100%;
}