:root {
    --normal-background: #373C43;
    --darked-background: #191D24;
    --normal-text: white;
    --primary-color: #B80000;
    --secondary-color: #8B0000;
}

* {
    margin:0;

    box-sizing: border-box;
    
    color: var(--normal-text);
}

a {
    text-decoration: none;
}

header {
    background-color: var(--darked-background);
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    grid-column: 1 / -1;
    position: sticky;
    top: 0;
}

header img {
    margin-top: 15px;
    margin-left: 6px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
}

header ul {
    list-style-type: none;
}

header h1{
    padding-left: 1rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

nav li {
    padding-right: 1rem;
    font-size: 1.5rem;
}

nav a:hover, 
nav a:active{
    border-bottom: 4px solid var(--primary-color);
}

body {
    background-color: var(--normal-background);
    display: grid;
    grid-template-rows: 6rem 1fr 3rem;
    grid-template-columns: 5% 90% 5%;
}

main {
    display: block;
    position: relative;
    grid-column: 2;
}

main h3 {
    font-size: 50px;
    font-weight: lighter;
}

main h5 {
    font-size: 28px;
    font-weight: lighter;
}

main p, main li, main ol, main a {
    font-size: 20px;
    line-height: 31.5px;
    text-align:justify;
    word-break:keep-all;
    font-family: "playfair display", serif;
}

.inline {
    display: inline-flex;
}

.outline {
    display: flex;
    background-color: var(--darked-background);
    padding: 5px;
    max-width: 100%;
    border: 1px solid var(--normal-text);
}

.fit-screen {
    display: flex;
    padding: 5px;
    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.paragraph-indent {
    text-indent: 50px;
}

/* Credit for next three selectors (With some modifications form me): 
   https://codepen.io/fenixmedia/pen/myZbXd */
   
.h-divider {
    margin-top: 20px;
    margin-left: -2.5%;
    width: 105%;
}
  
.h-divider .shadow {
    overflow: hidden;
    height: 20px;
}
  
.h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 80px/10px;
    box-shadow: 0 0 8px black;
}