:root {
    --darked-background: #071013;
    --normal-background: #202a2e;
    --normal-text: #FFFCF2;
    --primary-color: #c4e3f0;
    --secondary-color: #5f95aa;
    --highlight-color: #00cfcf;
    --highlight-color-opacity: #00cfcf80;
}

:root[data-theme="light"] {
    --darked-background: #00cfcf;
    --normal-background: #ffffff;
    --normal-text: #202020;
    --primary-color: #005f95;
    --secondary-color: #0087bf;
    --highlight-color: #00cfcf;
    --highlight-color-opacity: #00cfcf40;
}

* {
    margin:0;

    box-sizing: border-box;
    
    color: var(--normal-text);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    background-color: var(--darked-background);
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    grid-column: 1 / -1;
    position: sticky;
    top: 0;
}

header > div {
    align-items: center;
}

header > div > div > a > img {
    margin-top: 8px;
    margin-left: 6px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

header ul {
    list-style-type: none;
}

header h1{
    padding-left: 1rem;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

#theme-selector {
    cursor: pointer;
}

#theme-icon {
    width: 32px;
    height: 64px;
    border-radius: 8px;
    margin-right: 10px;
}

#theme-selected {
    width: 32px;
    height: 32px;
    position: absolute;
    border: 1px solid var(--normal-text);
    border-radius: 6px;
}

nav li {
    padding-right: 1rem;
    font-size: 1.5rem;
}

nav a:hover, 
nav a:active {
    border-bottom: 4px solid var(--primary-color);
}

body {
    background-color: var(--normal-background);
    /* background-image: linear-gradient(to bottom, var(--darked-background), var(--normal-background)); */
    display: grid;
    grid-template-rows: 6rem 1fr 3rem;
    grid-template-columns: 1% 98% 1%;
}

main {
    display: block;
    position: relative;
    grid-column: 2;
}

main h3 {
    font-size: 50px;
    font-weight: lighter;
}

main h4 {
    font-size: 28px;
    font-weight: lighter;
    padding: 10px 0;
}

main h5 {
    font-size: 22px;
    font-weight: lighter;
}

main h6 {
    font-size: 18px;
    font-weight: lighter;
}

main p, main li, main ol, main a {
    font-size: 20px;
    line-height: 25px;
    text-align:justify;
    word-break:keep-all;
    font-family: "playfair display", serif;
}

main a {
    text-decoration: underline;
}

main a:hover, main a:active {
    color: var(--primary-color);
    text-decoration-color: var(--secondary-color);
}

.center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
}

.inline {
    display: inline-flex;
}

.outline {
    padding: 5px;
    max-width: 100%;
    display: block;

    outline: var(--highlight-color) solid 4px;
    border-radius: .5em;
    box-shadow: 0px 4px 30px var(--highlight-color-opacity);
}

.simple-outline {
    max-width: 100%;
    border: 1px solid var(--normal-text);
    display: block;
}

.fit-screen {
    display: flex;
    padding: 5px;
    max-width: 100%;
}

.paragraph-indent {
    text-indent: 2em;
}

.glossary {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    text-wrap: nowrap;
    justify-content: space-around;
}

/* Credit for next three selectors (With modifications form me): 
   https://codepen.io/fenixmedia/pen/myZbXd */
   
.h-divider {
    width: 100%;
}
  
.h-divider .shadow {
    overflow: hidden;
    height: 20px;
}
  
.h-divider .shadow:after {
    content: '';
    display: block;
    margin: -20px auto 0;
    width: 100%;
    height: 23px;
    border-radius: 80px/10px;
    box-shadow: 0 0 16px var(--highlight-color);
}